<!DOCTYPE html>
<html>
<head>
    <title>Форма регистрации</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="h-full">
<nav class="flex justify-between text-3xl my-3">
    <a href="/pages/main_page">
        UrfuTube
    </a>
</nav>

<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
        <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Создайте учетную
            запись</h2>
    </div>

    <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
        <form id="contentform">
            <div class="mt-2">
                <input type="text" name="name" id="name"
                       class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                       placeholder=" Имя">
            </div>
            <div class="mt-2">
                <input type="text" name="phone" id="phone"
                       class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                       placeholder=" Номер телефона">
            </div>
            <div class="mt-2">
                <input type="text" name="email" id="email"
                       class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                       placeholder=" Электронная почта">
            </div>
            <div class="mt-2">
                <input type="text" name="surname" id="surname"
                       class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                       placeholder=" Псевдоним">
            </div>
            <div class="mt-2">
                <input type="password" name="password" id="password"
                       class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                       placeholder=" Пароль">
            </div>
            <button type="submit" onclick='location.href="http://81.200.145.113:8000/pages/login"'
                    class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
                Зарегистрироваться
            </button>
        </form>
    </div>
</div>
<div id="result"></div>
<script>
    const form = document.getElementById('contentform');

    form.addEventListener('submit', function (event) {
        event.preventDefault();

        const formData = new FormData(form);
        const jsonObject = Object.fromEntries(formData);
        const jsonString = JSON.stringify(jsonObject);

        console.log(jsonString);
        fetch('/user/signup', {
            method: 'POST',
            body: jsonString,
            headers: {
                'Content-Type': 'application/json',
            },
        }).then(
            response => {
                return response.json();
            }
        );
        alert("Вам на почту отправлено письмо")
    });
</script>
</body>
</html>